body{
    margin: 0;
    padding: 0;

}

/* Header and navigation bar style */

.header{
    margin: 0;
    height: 102px;
    background-color: #6D9886;
}
#logo{
    margin: 0;
    padding:10px 80px;
    display: inline-block;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 1px;
    color: #212121;
}
span{
    color: white;
    letter-spacing: 4px;

}
.nav-bar{
    float: right;
    display: inline;
    padding: 20px;
    color: white;
    font-family: 'Rubik', sans-serif;
}
.nav-item{
    padding: 30px;
    display: inline;
    cursor: pointer;
}
.header a{
    text-decoration:none;
    color: white;
}
.header a:hover{
    color: #212121;
    text-decoration: underline;
}


/* Main content style */

.main{
    background-color: #D9CAB3;
    height: 550px;
    margin: 0%;
}
.main-text{
    width: 50%;
    display: inline-block;
    height: 550px;
    color: #212121;
}
#main-heading{
    margin: 0;
    padding: 70px 0px 0px 80px;
    font-family: 'Rubik', sans-serif;
    font-size: 3rem;
}
#main-p{
    padding: 30px 80px;
    font-family: 'Rubik', sans-serif;
    font-size: 2rem;
}
#btn{
    padding: 10px 30px;
    margin-left: 80px;
    border-radius: 10px;
    font-size: 1.2rem;
    font-family: 'Rubik', sans-serif;
    background-color: #6D9886;
    border:2px solid #212121;
    color: #212121;
    cursor: pointer;
}
.main-image{
    width: 50%;
    height: 550px;
    float: right;
    margin: 0;
    padding: 0;
    
}
#first-image{
    width: 759px;
    height: 550px;
    margin-bottom: 0%;
}

hr{ 
    margin: 0%;
    padding: 0;
    border-style: none;
    border-top: 4px solid #212121;
}

/* Slideshow container */

.slideshow-container{
    width: 100%;
    margin: 0;
    height: 936px;
    background-color: #212121;
}    

/* Footer part */

.footer{
    margin: 0;
    height: 102px;
    background-color: #D9CAB3;
}
#footer-heading{
    margin: 0;
    padding:15px 0px 0px 80px;
    display: inline-block;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 1px;
    color: #212121;
    font-size: 1.5rem;
}
.footer span{
    color: #6D9886;
}
.footer-navbar{
    margin:5px 0px 0px 0px;
    float: right;
    display: inline;
    padding: 20px;
    color: #212121;
    font-family: 'Rubik', sans-serif;
}
.footer-navitem{
    padding: 30px;
    display: inline;
    cursor: pointer;
}
.footer a{
    color: #212121;
    text-decoration: none;
}
.footer a:hover{
    color: #6D9886;
    text-decoration: underline;
}
#footer-p{
    margin: 0%;
    text-align: center;
    font-family: 'Rubik', sans-serif;
}

/* Automjetet */


.Fotot{
    position:relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:50px;
    top:20px;
    
}
.Fotot .button{
    position:relative;
    z-index: 100;
    top:30px;
    left:300px;
    background-color: #6d9886; 
    color: white;
    padding: 15px 32px;
    display: inline-block;
    font-size: 16px;
    border-radius: 15%;
}
.Fotot2{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:50px;
}
.Fotot2 .button{ 
    position:relative;
    z-index: 100;
    top:25px;
    left:280px; 
    background-color: #6d9886; 
    color: white;
    padding: 15px 32px;
    display: inline-block;
    font-size: 16px;
    border-radius: 15%;
}
a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.foto2{
    width:450px;
    height:auto;
}
.foto3{
    width:450px;
    height:auto;
}
.foto4{
    width:450px;
    height:auto;
}
.foto5{
    width:450px;
    height:auto;
}
.foto6{
    width: 410px;
    height: auto;
}
.foto7{
    width:450px;
    height:auto;
}
#fonts{
    position: relative;
    bottom:40px;
}
#fonts2{
    position:relative;
    bottom:40px;
}

/* Rezervo */
.rezervo{
    width:100%;
    height:100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7), #6d9886);
    background-position: center;
    background-size: cover;
    display:flex;
    align-items: center;
    justify-content: center;
    font-family: 'poppins',sans-serif;
}
form{
    width:90%;
    max-width: 600px;
}
.input-group{
    margin-bottom:30px;
    position: relative;
}
input, textarea{
    width:100%;
    padding:10px;
    outline: 0;
    border: 1px solid #fff;
    color: #fff;
    background:transparent;
    font-size: 15px;
}
label{
    height:100%;
    position:absolute;
    left:0;
    top:0;
    padding:10px;
    color:#fff;
    cursor:text;
    transition: 0.2s;
}
#reserve-button {
    padding:10px;
    color:#fff;
    outline:none;
    background:transparent;
    border:1px solid white;
    cursor:pointer;
}
input:focus~label,
input:valid~label,
textarea:focus~label,
textarea:valid~label{
    top: -35px;
    font-size: 14px;

}

/*Faqja login*/
.container{
    width:100%;
    height:100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7), #6d9886);
    background-position: center;
    background-size: cover;
    display:flex;
    align-items: center;
    justify-content: center;
    font-family: 'poppins',sans-serif;
    text-align: center;
}
.form_hide{
    display: none;
}
#form_heading{
    color: white;
    font-family: 'Rubik', sans-serif;
    letter-spacing: 2px;
}
.warning{
    margin: 5px;
    color:#8B0000;
}
.warning_hide{
    display: none;
}
::placeholder{
    color: white;
}
#username{
    width: 50%;
    margin: 5px;
}
#password{
    width: 50%;
    margin: 5px;
}
#email{
    width: 50%;
    margin: 5px;
}
#login_button{
    width: auto;
}
#register_button{
    width: auto;
    display: inline-block;
}




/* Responsive design */

@media screen and (max-width:890px){

    .header{
        text-align: center;
        height: 110px;
    }

    #logo{
        text-align: center;
        padding-bottom: 5px;
    }
    .nav-bar{
        margin: 0;
        padding-bottom: 0px;
        text-align: center;
        align-items: center;
    }
    .nav-item{
        padding: 5px 15px;
    }
    #logo>br{
        display: none;
    }
    /* .Fotot{
        display: flex;
        flex-wrap: wrap;
    }
       */
}


@media screen and (max-width:1024px){
    .main-text{
        width: 100%;
    }
    .main-image{
        display: none;
    }
    .footer{
        text-align: center;
    }
    #footer-heading{
        text-align: center;
        padding:5px 0px;
    }
    #footer-heading>br{
        display: none;
    }
    .footer-navbar{
        display: none;
    }
    .slideshow-container{
        height: auto;
    }
    .slideshow-container>img{
        width: 100%;
        height: auto;
    }.Fotot{
        display: flex;
        flex-wrap: wrap;
    }
    .Fotot2{
        display: flex;
        flex-wrap: wrap;
    }
    
}
